<h3>Catégories</h3>

<div class="mb-3">
    <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addCategorie"><i class="fas fa-plus"></i> Ajouter
        une categorie</button>
</div>
  {{#each messages}}
                <div class="alert alert-{{type}} alert-dismissible fade show flash" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{msg}}
                </div>
                
            {{/each}}
            <div class="card">
  <div class="card-body">


<div class="table-responsive">
     <table sorted responsive class="table table-striped-columns align-middle ">
        <thead class="">
        
            <tr>
                <th>Catégorie</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                <td scope="row">{{name}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>
  </div>

</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addCategorie" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="addRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Ajouter une categorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/categories/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
