<h3>Commande</h3>

<div class="mb-3">
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCategorie">
        <i class="fas fa-plus"></i>
        Ajouter une commande
        </button>


<div class="container mt-5 px-2">
     <div class="card">
        <div class="card-body">
    
    <div class="mb-2 d-flex justify-content-between align-items-center">
        
    </div>
    <div class="table-responsive">
    <table class="table table-striped-columns table-bordered
    align-middle">
        
      <thead>
        <tr class="bg-light">
          <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
          <th scope="col" width="10%">Name</th>
        <th scope="col" width="20%">Numero client</th>
        <th scope="col" width="20%">Adresse livraison</th>
          <th scope="col" width="20%">Date validation</th>
          <th scope="col" width="20%">Date assignation</th>
          <th scope="col" width="20%">Frais livraison</th>
         <th scope="col" width="20%">Frais emballage</th>
         <th scope="col" width="20%">Total</th>
         <th scope="col" width="20%">Status</th>
         <th scope="col" width="20%">Validate</th>
         <th scope="col" width="20%">Action</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td>Valdez</td>
      <td>698792449</td>
      <td>Bonamoussadi</td>
      <td>12/09/2023</td>
      <td>11/07/2023</td>
      <td>500f</td>
      <td>400f</td>
      <td>5000f</td>
      <td><span class="badge bg-danger">En cours</span></td>
      <td><span class="badge bg-danger">En attente</span></td>
      <td>
        <button class="btn" style="background-color: lightblue;">
            Assigner
        </button>
         <button class="btn btn-outline-success">
            Update
        </button>
        <button class="btn btn-outline-danger">
           Delete
        </button>
      </td>

    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td>Valdez</td>
      <td>698792449</td>
      <td>Bonamoussadi</td>
      <td>12/09/2023</td>
      <td>11/07/2023</td>
      <td>500f</td>
      <td>400f</td>
      <td>5000f</td>
      <td><span class="badge bg-danger">En cours</span></td>
      <td><span class="badge bg-danger">En attente</span></td>
      <td>
        <button class="btn" style="background-color: lightblue;">
            Assigner
        </button>
         <button class="btn btn-outline-success">
            Update
        </button>
        <button class="btn btn-outline-danger">
           Delete
        </button>
      </td>

    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td>Valdez</td>
      <td>698792449</td>
      <td>Bonamoussadi</td>
      <td>12/09/2023</td>
      <td>11/07/2023</td>
      <td>500f</td>
      <td>400f</td>
      <td>5000f</td>
      <td><span class="badge bg-danger">En cours</span></td>
      <td><span class="badge bg-danger">En attente</span></td>
      <td>
        <button class="btn" style="background-color: lightblue;">
            Assigner
        </button>
         <button class="btn btn-outline-success">
            Update
        </button>
        <button class="btn btn-outline-danger">
           Delete
        </button>
      </td>

    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td>Valdez</td>
      <td>698792449</td>
      <td>Bonamoussadi</td>
      <td>12/09/2023</td>
      <td>11/07/2023</td>
      <td>500f</td>
      <td>400f</td>
      <td>5000f</td>
      <td><span class="badge bg-danger">En cours</span></td>
      <td><span class="badge bg-danger">En attente</span></td>
      <td>
        <button class="btn" style="background-color: lightblue;">
            Assigner
        </button>
         <button class="btn btn-outline-success">
            Update
        </button>
        <button class="btn btn-outline-danger">
           Delete
        </button>
      </td>

    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td>Valdez</td>
      <td>698792449</td>
      <td>Bonamoussadi</td>
      <td>12/09/2023</td>
      <td>11/07/2023</td>
      <td>500f</td>
      <td>400f</td>
      <td>5000f</td>
      <td><span class="badge bg-danger">En cours</span></td>
      <td><span class="badge bg-danger">En attente</span></td>
      <td>
        <button class="btn" style="background-color: lightblue;">
            Assigner
        </button>
         <button class="btn btn-outline-success">
            Update
        </button>
        <button class="btn btn-outline-danger">
           Delete
        </button>
      </td>

    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td>Valdez</td>
      <td>698792449</td>
      <td>Bonamoussadi</td>
      <td>12/09/2023</td>
      <td>11/07/2023</td>
      <td>500f</td>
      <td>400f</td>
      <td>5000f</td>
      <td><span class="badge bg-danger">En cours</span></td>
      <td><span class="badge bg-danger">En attente</span></td>
      <td>
        <button class="btn" style="background-color: lightblue;">
            Assigner
        </button>
         <button class="btn btn-outline-success">
            Update
        </button>
        <button class="btn btn-outline-danger">
           Delete
        </button>
      </td>

    </tr>
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td>Valdez</td>
      <td>698792449</td>
      <td>Bonamoussadi</td>
      <td>12/09/2023</td>
      <td>11/07/2023</td>
      <td>500f</td>
      <td>400f</td>
      <td>5000f</td>
      <td><span class="badge bg-danger">En cours</span></td>
      <td><span class="badge bg-danger">En attente</span></td>
      <td>
        <button class="btn" style="background-color: lightblue;">
            Assigner
        </button>
         <button class="btn btn-outline-success">
            Update
        </button>
        <button class="btn btn-outline-danger">
           Delete
        </button>
      </td>

    </tr>
    
    
  </tbody>
</table>
  
  </div>
    
</div>
</div>
    
</div>
</div>


<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addCategorie" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="addRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Ajouter une categorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/commandes/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Numero client</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">adresse livraison</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">date livraison</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">date Assigniation</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Frais Livraison</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                     <div class="mb-3">
                        <label for="price" class="form-label">Frais Emballage</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Total</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addCategorie" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="addRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Ajouter une categorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/commandes/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Prix</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="categorie" class="form-label">Catégorie</label>
                        <select class="form-select" name="categorie_id" id="categorie">
                            <option selected value="">Selectionner une catégorie</option>
                            {{#each categories}}
                            <option value="{{id}}">{{name}}</option> 
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="promoted" name="promoted" value="true">
                        <label class="form-check-label" for="promoted">Promotionner?</label>
                        </div>
                    <div class="mb-3" hidden>
                        <label for="promoted_price" class="form-label">Prix de la promotion</label>
                        <input type="text" class="form-control" name="promote_price" id="promoted_price" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
