<h3>Commande</h3>

<div class="mb-3">
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#createCommande">
        <i class="fas fa-plus"></i>
        Créer une commande
    </button>
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCommande">
        <i class="fas fa-plus"></i>
        Ajouter une commande
    </button>
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addUser">
        <i class="fas fa-plus"></i>
        Assigner une commande
    </button>


    <div class=" mt-5 px-2">
        <div class="card">
            <div class="card-body">
                <div class="mb-2 d-flex justify-content-between align-items-center">
                </div>
                <div class="table-responsive">
                    <table class="table table-striped-columns table-bordered align-middle ">

                        <thead>
                            <tr class="bg-light">
                                <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                                <th scope="col" width="10%">Canal de Vente</th>
                                <th scope="col" width="20%">Agent</th>
                                <th scope="col" width="20%">Numero de suivi</th>
                                <th scope="col" width="20%">Contenu produit</th>
                                <th scope="col" width="20%">Prix total</th>
                                <th scope="col" width="20%">Telephone client</th>
                                <th scope="col" width="20%">Adresse client</th>
                                <th scope="col" width="20%">Ville client</th>
                                <th scope="col" width="20%">Status commande</th>
                                <th scope="col" width="20%">Livraison</th>
                                <th scope="col" width="20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                                <td>Valdez</td>
                                <td>Call center</td>
                                <td>0122</td>
                                <td>VVVV</td>
                                <td>5000F</td>
                                <td>698233443</td>
                                <td>Makepe</td>
                                <td>Douala</td>
                                <td><span class="badge bg-danger">En cours</span></td>
                                <td><span class="badge bg-danger">Reporte</span></td>
                                 <td>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i class="fas fa-edit"></i></button>
                                   
                                   <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                                 <td>Valdez</td>
                                <td>Call center</td>
                                <td>0122</td>
                                <td>VVVV</td>
                                <td>5000F</td>
                                <td>698233443</td>
                                <td>Makepe</td>
                                <td>Douala</td>
                                <td><span class="badge bg-danger">En cours</span></td>
                                <td><span class="badge bg-danger">Annule</span></td>
                                <td>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i class="fas fa-edit"></i></button>
                                   
                                   <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                                 <td>Valdez</td>
                                <td>Call center</td>
                                <td>0122</td>
                                <td>VVVV</td>
                                <td>5000F</td>
                                <td>698233443</td>
                                <td>Makepe</td>
                                <td>Douala</td>
                                <td><span class="badge bg-danger">En cours</span></td>
                                <td><span class="badge bg-success">Livre</span></td>
                                <td>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i class="fas fa-edit"></i></button>
                                   
                                   <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>

                            </tr>
                            <tr>
                                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                                 <td>Valdez</td>
                                <td>Call center</td>
                                <td>0122</td>
                                <td>VVVV</td>
                                <td>5000F</td>
                                <td>698233443</td>
                                <td>Makepe</td>
                                <td>Douala</td>
                                <td><span class="badge bg-danger">En cours</span></td>
                                <td><span class="badge bg-success">Expedié</span></td>
                                <td>
                                    <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i class="fas fa-edit"></i></button>
                                   
                                   <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </td>


                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>


<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addCategorie" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="addRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Ajouter une commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/commandes/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Numero client</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">adresse livraison</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">date livraison</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">date Assigniation</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Frais Livraison</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Frais Emballage</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Total</label>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addUser" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="addRoleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Assigner une commande à un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/admin/User/add" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="">
                        <small id="helpId" class="form-text text-muted"></small>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentStep = 0;
        var steps = document.querySelectorAll(".stepper .row .col");

        // Hide all steps except the first one
        for (var i = 1; i < steps.length; i++) {
            steps[i].style.display = "none";
        }

        var nextButtons = document.querySelectorAll(".next-button");
        var prevButtons = document.querySelectorAll(".prev-button");

        // Add event listeners to next buttons
        nextButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                if (currentStep < steps.length - 1) {
                    steps[currentStep].style.display = "none";
                    currentStep++;
                    steps[currentStep].style.display = "block";
                }
            });
        });

        // Add event listeners to previous buttons
        prevButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                if (currentStep > 0) {
                    steps[currentStep].style.display = "none";
                    currentStep--;
                    steps[currentStep].style.display = "block";
                }
            });
        });
    });

</script>