<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom du magasin</th>
                <th scope="col">Partenaire</th>
                <th scope="col">Status</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each magasin}}
                <tr class="">
                    <td scope="row">{{name}}</td>
                    <td>R1C2</td>
                    <td>R1C3</td>
                </tr>
            {{/each}}
            
        </tbody>
    </table>
</div>
