    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPEEDEX | Login</title>
    <link rel="stylesheet" href="/css/volt.css">
    
</head>
<body>
    <div class="container h-100">
        <div class="row p-3 shadow-lg  rounded mt-5">
            <div class="d-none d-xl-block col-xl-6">
                <img src="/log.png" alt="" width="100%">
            </div>
            <div class="col-12 col-xl-6">
                <h1 class="text-center mb-3">SPEEDEX</h1>
                <div class="mb-3">
                    <h3>Bienvenu, heureux de vous voir</h3>
                    <p>Veuillez-vous connecter</p>
                </div>
                {{#if error}}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong><i class="fas fa-exclamation-triangle"></i></strong> {{error}}
                    </div>
                {{/if}}
                <form action="" method="post" validation>
                    <div class="mb-3">
                      <label for="username" class="form-label">Nom d'utilisateur</label>
                      <input type="text" class="form-control" name="username" id="username" required aria-describedby="emailHelpId" placeholder="">
                      <small id="usernameHelpId" class="form-text text-muted"></small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password" required aria-describedby="emailHelpId"
                            placeholder="">
                        <small id="passwordHelpId" class="form-text text-muted"></small>
                    </div>
                       
                    <div class="mb-3 float-end">
                        <a href="#">Mot de passe oublié?</a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Connectez-vous</button>
                </form>
            </div>
        </div>
    </div>

    <script src="/adna.js"></script>
</body>
</html>
<script>
    document.querySelectorAll(".alert").forEach((alert) => {
            setTimeout(() => {
                alert.style.display = "none";
            }, 5000);
        });
</script>