<div class=" mt-5 px-2 bg-light">
    <div class="card">
        <div class="card-body">
            <div class="mb-2 d-flex justify-content-between align-items-center">
            </div>
            <div class="table-responsive">
                <table class="table table-striped-columns align-middle ">

                    <thead >
                        <tr class="bg-light">
                            <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                            <th scope="col" width="10%">Canal de Vente</th>
                            <th scope="col" width="20%">Agent</th>
                            <th scope="col" width="20%">Numero de suivi</th>
                            <th scope="col" width="20%">Contenu produit</th>
                            <th scope="col" width="20%">Prix total</th>
                            <th scope="col" width="20%">Telephone client</th>
                            <th scope="col" width="20%">Adresse client</th>
                            <th scope="col" width="20%">Ville client</th>
                            <th scope="col" width="20%">Date livraison</th>
                            <th scope="col" width="20%">Status commande</th>
                            <th scope="col" width="20%">Livraison</th>
                            <th scope="col" width="20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><input class="form-check-input" type="checkbox"></th>
                            <td>Valdez</td>
                            <td>Call center</td>
                            <td>0122</td>
                            <td>VVVV</td>
                            <td>5000F</td>
                            <td>698233443</td>
                            <td>Makepe</td>
                            <td>Douala</td>
                            <td>12/04/2023</td>

                            <td><span class="badge bg-danger">En cours</span></td>
                            <td><span class="badge bg-danger">Reporte</span></td>
                            <td>
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i
                                        class="fas fa-edit"></i></button>

                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row"><input class="form-check-input" type="checkbox"></th>
                            <td>Valdez</td>
                            <td>Call center</td>
                            <td>0122</td>
                            <td>VVVV</td>
                            <td>5000F</td>
                            <td>698233443</td>
                            <td>Makepe</td>
                            <td>Douala</td>
                            <td>12/04/2023</td>
                            <td><span class="badge bg-danger">En cours</span></td>
                            <td><span class="badge bg-danger">Annule</span></td>
                            <td>
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i
                                        class="fas fa-edit"></i></button>

                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>
                         <tr>
                            <th scope="row"><input class="form-check-input" type="checkbox"></th>
                            <td>Valdez</td>
                            <td>Call center</td>
                            <td>0122</td>
                            <td>VVVV</td>
                            <td>5000F</td>
                            <td>698233443</td>
                            <td>Makepe</td>
                            <td>Douala</td>
                            <td>12/04/2023</td>
                            <td><span class="badge bg-danger">En cours</span></td>
                            <td><span class="badge bg-danger">Annule</span></td>
                            <td>
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i
                                        class="fas fa-edit"></i></button>

                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>
                         <tr>
                            <th scope="row"><input class="form-check-input" type="checkbox"></th>
                            <td>Valdez</td>
                            <td>Call center</td>
                            <td>0122</td>
                            <td>VVVV</td>
                            <td>5000F</td>
                            <td>698233443</td>
                            <td>Makepe</td>
                            <td>Douala</td>
                            <td>12/04/2023</td>
                            <td><span class="badge bg-danger">En cours</span></td>
                            <td><span class="badge bg-danger">Annule</span></td>
                            <td>
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i
                                        class="fas fa-edit"></i></button>

                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>
                       
                         <tr>
                            <th scope="row"><input class="form-check-input" type="checkbox"></th>
                            <td>Valdez</td>
                            <td>Call center</td>
                            <td>0122</td>
                            <td>VVVV</td>
                            <td>5000F</td>
                            <td>698233443</td>
                            <td>Makepe</td>
                            <td>Douala</td>
                            <td>12/04/2023</td>
                            <td><span class="badge bg-danger">En cours</span></td>
                            <td><span class="badge bg-success">Expedié</span></td>
                            <td>
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i
                                        class="fas fa-edit"></i></button>

                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>
                         <tr>
                            <th scope="row"><input class="form-check-input" type="checkbox"></th>
                            <td>Valdez</td>
                            <td>Call center</td>
                            <td>0122</td>
                            <td>VVVV</td>
                            <td>5000F</td>
                            <td>698233443</td>
                            <td>Makepe</td>
                            <td>Douala</td>
                            <td>12/04/2023</td>
                            <td><span class="badge bg-danger">En cours</span></td>
                            <td><span class="badge bg-success">Expedié</span></td>
                            <td>
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i
                                        class="fas fa-edit"></i></button>

                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>
                         <tr>
                            <th scope="row"><input class="form-check-input" type="checkbox"></th>
                            <td>Valdez</td>
                            <td>Call center</td>
                            <td>0122</td>
                            <td>VVVV</td>
                            <td>5000F</td>
                            <td>698233443</td>
                            <td>Makepe</td>
                            <td>Douala</td>
                            <td>12/04/2023</td>
                            <td><span class="badge bg-danger">En cours</span></td>
                            <td><span class="badge bg-success">Expedié</span></td>
                            <td>
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal"><i
                                        class="fas fa-edit"></i></button>

                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal"><i class="fa fa-trash"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>
</div>