<div class="card mt-2">
    <div class="row p-2 mb-2">
        <h4 class="fs-6 ms-2">Listes des commandes à traiter</h4>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi: P0321</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <p class="card-text ">Num Client: 698792449
                        <i class='fas fa-phone-alt ms-4'></i>
                        <i class='fas fa-comment-alt ms-2'></i>
                        <i class='fas fa-comment ms-2'></i>
                    </p>
                    <p class="card-text">Produit: Ovules</p>
                      <p class="card-text">Quantite: 10 </p>
                    <p class="card-text">Prix Total: 8000f </p>
                     <p class="card-text">Ville livraison: Douala</p>
                      <p class="card-text">Quartier livraison: BM</p>
                    <p class="card-text">Adresse livraison: Makepe </p>
                    <p class="card-text">Status: En cours</p>
                     <p class="card-text">Date et heure livraison: 03 mars 2023 12h</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#action">
                            Editer
                        </button>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi: P0321</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <p class="card-text ">Num Client: 698792449
                        <i class='fas fa-phone-alt ms-4'></i>
                        <i class='fas fa-comment-alt ms-2'></i>
                        <i class='fas fa-comment ms-2'></i>
                    </p>
                    <p class="card-text">Produit: Ovules</p>
                      <p class="card-text">Quantite: 10 </p>
                    <p class="card-text">Prix Total: 8000f </p>
                     <p class="card-text">Ville livraison: Douala</p>
                      <p class="card-text">Quartier livraison: BM</p>
                    <p class="card-text">Adresse livraison: Makepe </p>
                    <p class="card-text">Status: En cours</p>
                     <p class="card-text">Date et heure livraison: 03 mars 2023 12h</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#action">
                            Editer
                        </button>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi: P0321</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <p class="card-text ">Num Client: 698792449
                        <i class='fas fa-phone-alt ms-4'></i>
                        <i class='fas fa-comment-alt ms-2'></i>
                        <i class='fas fa-comment ms-2'></i>
                    </p>
                    <p class="card-text">Produit: Ovules</p>
                      <p class="card-text">Quantite: 10 </p>
                    <p class="card-text">Prix Total: 8000f </p>
                     <p class="card-text">Ville livraison: Douala</p>
                      <p class="card-text">Quartier livraison: BM</p>
                    <p class="card-text">Adresse livraison: Makepe </p>
                    <p class="card-text">Status: En cours</p>
                     <p class="card-text">Date et heure livraison: 03 mars 2023 12h</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#action">
                            Editer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi: P0321</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <p class="card-text ">Num Client: 698792449
                        <i class='fas fa-phone-alt ms-4'></i>
                        <i class='fas fa-comment-alt ms-2'></i>
                        <i class='fas fa-comment ms-2'></i>
                    </p>
                    <p class="card-text">Produit: Ovules</p>
                      <p class="card-text">Quantite: 10 </p>
                    <p class="card-text">Prix Total: 8000f </p>
                     <p class="card-text">Ville livraison: Douala</p>
                      <p class="card-text">Quartier livraison: BM</p>
                    <p class="card-text">Adresse livraison: Makepe </p>
                    <p class="card-text">Status: En cours</p>
                     <p class="card-text">Date et heure livraison: 03 mars 2023 12h</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#action">
                            Editer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="action" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="quartier_livraison" class="form-label">Quartier livraison</label>
                <input type="text" class="form-control" name="quartier_livraison" id="quartier_livraison"
                    aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="modal-body">
                <label for="adresse_livraison" class="form-label">Adresse livraison</label>
                <input type="text" class="form-control" name="adresse_livraison" id="adresse_livraison"
                    aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted"></small>
            </div>
             <div class="modal-body">
                <label for="date_livraison" class="form-label">Date et heure livraison</label>
                <input type="text" class="form-control" name="date_livraison" id="date_livraison"
                    aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="modal-body">
                <label for="status" class="form-label">Status</label>
                <select class="form-select">
                    <option selected>Choisir une option</option>
                    <option value="1">Confirmer</option>
                    <option value="2">Occupe</option>
                    <option value="3">Boite vocale</option>
                    <option value="3">Reporte</option>
                    <option value="3">Annule</option>
                </select>
            </div>
            <div class="modal-body">
                <label for="floatingTextarea2">Commentaire</label>
                <textarea class="form-control" placeholder="Commentaire" id="floatingTextarea2"
                 style="height: 100px"></textarea>
                 
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-info" data-bs-dismiss="modal">Valide</button>
            </div>
        </div>
    </div>
</div>