<div class="card mt-2">
    <div class="row p-2 mb-2">
        <h4 class="fs-6 ms-2">Listes des commandes à traiter</h4>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi:</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Agent: Superviseur call center</p>
                    <p class="card-text">Num Client: 698792449</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#detail">
                            Details
                        </button>
                        <button class="btn btn-outline-info ms-4" data-bs-toggle="modal" data-bs-target="#cmd">
                            Action
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi:</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Agent: Superviseur call center</p>
                    <p class="card-text">Num Client: 698792449</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#detail">
                            Details
                        </button>
                        <button class="btn btn-outline-info ms-4" data-bs-toggle="modal" data-bs-target="#cmd">
                            Action
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi:</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Agent: Superviseur call center</p>
                    <p class="card-text">Num Client: 698792449</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#detail">
                            Details
                        </button>
                        <button class="btn btn-outline-info ms-4" data-bs-toggle="modal" data-bs-target="#cmd">
                            Action
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-info">Numero de suivi:</h5>
                    <p class="card-text">Canal vente: Magasin Douala</p>
                    <p class="card-text">Nom Agent: Superviseur call center</p>
                    <p class="card-text">Num Client: 698792449</p>
                    <p class="card-text">Nom Client: Valdez</p>
                    <div>
                        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#detail">
                            Details
                        </button>
                        <button class="btn btn-outline-info ms-4" data-bs-toggle="modal" data-bs-target="#cmd">
                            Action
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="detail" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Nom Produit: Ovules</p>
                <p>Prix Total: 8000f </p>
                <p>Ville Client: Valdez</p>
                <p>Date livraison: 03 mars 2023</p>
                <p>Adresse de livraison: Makepe</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cmd" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmer Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select">
                    <option selected>Choisir une option</option>
                    <option value="1">Confirmer</option>
                    <option value="2">En cours</option>
                    <option value="3">En attente</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info">Valide</button>
            </div>
        </div>
    </div>
</div>